@page "/counter-groups/{GroupId:guid}/counters/{Id:guid}"
@using DinoSoft.CuCounters.Common.Extensions
@using DinoSoft.CuCounters.Domain.Contracts.Infrastructure
@using DinoSoft.CuCounters.Domain.Contracts.Model
@inject ICounterManager counterManager
@inject NavigationService navigationService

<LayoutView>
     <div class="container">
        <div class="row justify-content-between text-warning border-bottom border-warning header-bg" style="height:60px; padding:20px;">
           <div class="col-auto text-left">
              <h6 @onclick="NavigateBack">Назад</h6>
           </div>
           <div class="col-auto text-left">
              <h6 @onclick="NavigateEdit">Редактировать</h6>
           </div>
        </div>
     </div>
 
    <div class="container">
        <div class="content text-white">
            <div class="col-auto text-left">
                <h6>@counter.Name</h6>
            </div>
            <div class="col-auto justify-content-end text-right cuc-text-sub">
               @* <h6>@updatedDate</h6>*@
            </div>
            <div class="row justify-content-between" >
               <div class="col-2 justify-content-start text-left">
                   <i style="font-size: 40px; color: @counter.IconColor" class="@counter.IconName"/>
               </div>
               <div class="col-auto text-right align-middle">
                   <div>
                       @for (var i = values.Length; i < 6; i++)
                       {
                           <div class="btn btn-sm btn-light text-black align-middle" style="margin: 10px 1px 1px 1px">0</div>
                       }

                       @foreach (var value in values)
                       {
                           <div class="btn btn-sm btn-light text-black align-middle" style="margin: 10px 1px 1px 1px">@value</div>
                       }
                   </div>
                   <span class="badge bg-success ">+1</span>
               </div>
            </div>
        </div>
    </div>
    <div class="container d-flex align-self-end flex-wrap align-bottom" >
        <EditForm EditContext="@editContext" OnValidSubmit="@AddValue">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <InputNumber id="name" class="form-control" @bind-Value="@addValueModel.AddingValue"  />
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary ">Confirm</button>
                </div>
            </div>
        </EditForm>
    </div>

</LayoutView>



@code {

    [Parameter]
    public  Guid GroupId { get; set; }

    [Parameter]
    public  Guid Id { get; set; }

    public ICounter counter { get; set; }

    private EditContext editContext;

    private AddValueModel addValueModel = new AddValueModel();


    private int[] values => counter.Value.ToArray();

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(addValueModel);
        counter = await counterManager.GetCounter(Id);
    }

    private void NavigateBack()
    {
        navigationService.NavigateTo(Links.GroupPage(GroupId));
    }

    private void NavigateEdit()
    {
        navigationService.NavigateTo(Links.CounterEditPage(GroupId, Id));
    }

    private void AddValue()
    {
        if (addValueModel.AddingValue.HasValue && addValueModel.AddingValue.Value != 0)
        {
            counter.AddValue(addValueModel.AddingValue.Value);
        }

        addValueModel.AddingValue = null;
    }

    private class AddValueModel
    {
        public int? AddingValue { get; set; }
    }
}